@require 'normalize.css/normalize.css'

@require 'utils/styles/*.styl'

@require 'components/styles/*.styl'

@require 'gallery/styles/*.styl'

@require 'app/styles/*.styl'

body {
  font-family: $font-family-base
}