.footer-float {

  position: fixed;
  display: block;

  bottom: 0;
  left: 0;
  right: 0;

  background-color: fade-out(#3a3a3a, 0.2);

  & > * {
    display: block;
    color: $color-primary;
    padding: 14px 0;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    background: none;
    border: none;
  }

}