.page-gallery-detail {
  display: block;
  padding-bottom: 60px;

  .gallery-list {
    display: block;
    margin: 0 3px;
  }

  .btn-save {

    width: 100%;
    box-sizing: border-box;

    &[disabled] {
      color: #d8d8d8;
      &:hover {
        cursor: not-allowed
      }
      .number-count {
        &:before {
          background-color: #d8d8d8;
        }
      }
    }

    .number-count {
      display: inline-block;
      position: relative;
      color: #000;
      font-size: 13px;
      line-height: inherit;
      top: -2px
      width: 20px;
      text-align: center;

      &:before {
        content: '';
        position: absolute;
        top: -4px;
        left: 0;
        right: 0;
        width: 20px;
        height: @width;
        border-radius: 50%;
        background-color: $color-primary;
        z-index: -1;
      }
    }
  }
}

.page-gallery-detail__tips {
  padding: 12px 0;
  text-align: center;
}
